{{!--
    Partial: info crypto
 --}}
<p>
    <b>Crypto Name:</b> {{data.name}}<br>
    <b>Blocks:</b> {{data.blocks}}<br>
    <b>Longest blocks:</b> {{data.longestchain}}<br>
    <b>Difficulty:</b> {{data.difficulty}}<br>
    <b>Connections:</b> {{data.connections}}<br>
</p>
